/* common styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.text-pr {
    color: #FD6E0A;
}

.btn-pr {
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    border: none;
    color: white;
    padding: 15px 35px;
}

/* nav style */

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #474747;
    font-weight: 400;
}

/* header related style */
header {
    background: #FFF8F3;
    background-image: url(./images/header_bg.png)  , url(./images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    background-size: 48%, 6%;
}

.banner {
    padding: 30px 10px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.head-img img {
    width: 400px;

}

.banner-text h3 {
    font-weight: 600;
    color: #474747;
    font-size: 30px;
    margin-bottom: 5px;
}

.banner-text h1 {
    font-weight: 800;
    font-size: 65px;
}

.banner-text p {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 20px;
    font-weight: 400;
    color: var(--dark-03, #757575);
}
.banner-text{
    max-width: 400px;
}

/* main section start */

main{
    max-width: 900px;
    margin: 0 auto;
}
.s-title{
    font-weight: 600;
    font-size: 28px;
    color: #181818;
}
.s-text{
    color: #757575;
    font-size: 14px;
    margin-top: 10px;
    line-height: 20px;
}
/* about section style */
.about{
    background-color:#FFF8F3 ;
    border-radius: 5px;
    margin: 70px 0px 30px 0;
    padding:70px 130px;
    text-align: center;
}
.about-info-container{
    display: flex;
    justify-content: space-between;
    margin-top: 17px;

}
.about-info-container .info-titile{
    font-size: 14px;
    color:#757575 ;
}
.about-info-container .info-name{
    color:#757575 ;
    font-weight: 600;
    font-size: 16px;
}

.do-section{
   
    padding:70px 100px 30px 100px;
    text-align: center;
}
/* skills section */

.skills{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;

}
.skill-section{
    padding: 23px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background-color: #fff;
}
.skill-title{
    color: #181818;
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
}
.skill-section img{
    max-width: 30px;
}


/* resume section style */
.resume-section{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
   
}
.resume-section h2{
    text-align: center;
    margin-bottom: 50px;
    

}
.resume-part{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.resume{
    margin-bottom: 25px;
}
.resume h4{
    color: #474747;
    margin-bottom: 15px;
}
.resume h5{
    color: #474747;
    font-weight: 600;
}
.resume h6{
    color: #757575;
    font-size: 10px;
}
.resume p{
    margin-bottom: 12px;
}
.resume-button{
    text-align: center;
}
.rewume-bor{
    border-bottom: 1px solid #D1D1D1;
    
}

/* footer section */



.sub-btn{
    font-size: 12px;
    padding: 8px 15px;

}

footer{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: start;
   max-width: 900px;
    margin: 0 auto;
    background-color: #FFF8F3;
    padding: 70px 110px 35px 110px;
    
}

.footer-content h3{
    color: #181818;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
}
.footer-image{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}
.footer-image img{
    max-width: 20px;
}

.footer-form h2{
    margin-bottom: 15px;
}
.footer-input{
    margin-bottom: 10px;
    padding: 15px;
    font-size: 15px;
    width: 350px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color:( #FFF);

}
.footer-input-text{
    padding: 10px;
    margin-bottom: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color:( #FFF);
    font-size: 15px;
}

.footer-form input[type="text"], input[type="email"]