/* common styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.text-pr {
    color: #FD6E0A;
}

.btn-pr {
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    border: none;
    color: white;
    padding: 15px 35px;
}

/* nav style */

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #474747;
    font-weight: 400;
}

/* header related style */
header {
    background: #FFF8F3;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 60%;
}

.banner {
    padding: 30px 10px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.head-img img {
    width: 400px;

}

.banner-text h3 {
    font-weight: 600;
    color: #474747;
    font-size: 30px;
    margin-bottom: 5px;
}

.banner-text h1 {
    font-weight: 800;
    font-size: 65px;
}

.banner-text p {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 20px;
    font-weight: 400;
    color: var(--dark-03, #757575);
}
.banner-text{
    max-width: 400px;
}